version: "3.9"
services:

  traefik:
    image: traefik:v2.11
    command:
      - "--providers.docker=true"
      - "--providers.docker.network=association_web"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email=${ACME_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--providers.file.filename=/traefik/dynamic.yml"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "8888:8080"
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/acme.json:/letsencrypt/acme.json"
      - "./traefik/dynamic.yml:/traefik/dynamic.yml:ro"
    networks:
      - web

  drupal:
    image: drupal:10-fpm
    volumes:
      - drupal-data:/var/www/html
      - ./drupal-modules/custom/association_payments:/var/www/html/modules/custom/association_payments:ro
    networks:
      - internal

  drupal-nginx:
    image: nginx:stable
    depends_on:
      - drupal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.drupal.rule=Host(`${DRUPAL_DOMAIN}`)"
      - "traefik.http.routers.drupal.entrypoints=web"
      - "traefik.http.services.drupal.loadbalancer.server.port=80"
    ports:
      - "8080:80"
    volumes:
      - drupal-data:/var/www/html
      - ./nginx-drupal.conf:/etc/nginx/conf.d/default.conf:ro
      - ./drupal-modules/custom/association_payments:/var/www/html/modules/custom/association_payments:ro
    networks:
      - web
      - internal

  drupal-db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DRUPAL_DB_USER}
      - POSTGRES_PASSWORD=${DRUPAL_DB_PASSWORD}
      - POSTGRES_DB=${DRUPAL_DB_NAME}
    volumes:
      - drupal-postgres-data:/var/lib/postgresql/data
    networks:
      - internal

  payment-api:
    build: ./payment-api
    depends_on:
      - payments-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.payment-api.rule=Host(`${API_DOMAIN}`)"
      - "traefik.http.routers.payment-api.entrypoints=web"
      - "traefik.http.services.payment-api.loadbalancer.server.port=3000"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - PAYMENT_DB_HOST=payments-db
      - PAYMENT_DB_PORT=5432
      - PAYMENT_DB_USER=${PAYMENTS_DB_USER}
      - PAYMENT_DB_PASSWORD=${PAYMENTS_DB_PASSWORD}
      - PAYMENT_DB_NAME=${PAYMENTS_DB_NAME}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - FLW_SECRET_KEY=${FLW_SECRET_KEY}
      - FLW_WEBHOOK_SECRET=${FLW_WEBHOOK_SECRET}
      - GOCARDLESS_ACCESS_TOKEN=${GOCARDLESS_ACCESS_TOKEN}
      - GOCARDLESS_ENV=${GOCARDLESS_ENV}
      - GOCARDLESS_WEBHOOK_SECRET=${GOCARDLESS_WEBHOOK_SECRET}
      - BASE_URL=https://${API_DOMAIN}
      - DRUPAL_WEBHOOK_URL=${DRUPAL_WEBHOOK_URL}
      - DRUPAL_WEBHOOK_TOKEN=${DRUPAL_WEBHOOK_TOKEN}
    networks:
      - web
      - internal

  payments-db:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${PAYMENTS_DB_USER}
      - POSTGRES_PASSWORD=${PAYMENTS_DB_PASSWORD}
      - POSTGRES_DB=${PAYMENTS_DB_NAME}
    volumes:
      - payments-postgres-data:/var/lib/postgresql/data
    networks:
      - internal

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: ["start-dev"]
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_PROXY=edge
    ports:
      - "8081:8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`${AUTH_DOMAIN}`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
    networks:
      - web
      - internal

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    ports:
      - "5050:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.rule=Host(`${PGADMIN_DOMAIN}`)"
      - "traefik.http.routers.pgadmin.entrypoints=web"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - web
      - internal

  mailserver:
    image: axigen/axigen:latest
    hostname: mail.${MAIL_DOMAIN:-association.local}
    environment:
      - AXIGEN_ENABLE_WEBMAIL=yes
      - AXIGEN_ENABLE_WEBADMIN=yes
      - AXIGEN_ADMIN_PASSWORD=${MAIL_ADMIN_PASSWORD}
    ports:
      - "25:25"     # SMTP
      - "587:587"   # SMTP submission
      - "465:465"   # SMTPS
      - "143:143"   # IMAP
      - "993:993"   # IMAPS
      - "110:110"   # POP3
      - "995:995"   # POP3S
      - "9000:9000" # WebAdmin
      - "8000:8000" # Webmail
    labels:
      - "traefik.enable=true"
      # Webmail
      - "traefik.http.routers.webmail.rule=Host(`${WEBMAIL_DOMAIN}`)"
      - "traefik.http.routers.webmail.entrypoints=web"
      - "traefik.http.routers.webmail.service=webmail"
      - "traefik.http.services.webmail.loadbalancer.server.port=8000"
      # WebAdmin
      - "traefik.http.routers.mailadmin.rule=Host(`${MAILADMIN_DOMAIN}`)"
      - "traefik.http.routers.mailadmin.entrypoints=web"
      - "traefik.http.routers.mailadmin.service=mailadmin"
      - "traefik.http.services.mailadmin.loadbalancer.server.port=9000"
    volumes:
      - mailserver-data:/var/opt/axigen
      - mailserver-logs:/var/opt/axigen/logs
    networks:
      - web
      - internal

volumes:
  drupal-data:
  drupal-postgres-data:
  payments-postgres-data:
  pgadmin-data:
  mailserver-data:
  mailserver-logs:

networks:
  web:
  internal:
